<h2 mat-dialog-title>Edit PR n. {{data.id}}</h2>
<mat-dialog-content>
    <div class="flex-form">
        <mat-form-field appearance="fill" id="id" >
            <mat-label>Id</mat-label>
            <input matNativeControl [formControl]="idControl">
        </mat-form-field>
        <!-- <mat-form-field appearance="fill">
            <mat-label>Username</mat-label>
            <input matNativeControl [formControl]="nicknameControl">
        </mat-form-field> -->
        <mat-form-field appearance="fill">
            <mat-label>Username</mat-label>
            <mat-select matNativeControl [formControl]="nicknameControl">
                <mat-option *ngFor="let user of users" value="{{user.nickname}}">{{user.nickname}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Problem Id</mat-label>
            <mat-select matNativeControl [formControl]="problemIdControl">
                <mat-option *ngFor="let problem of problems" value="{{problem.id}}">{{problem.id}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Merge Time</mat-label>
            <input matNativeControl [formControl]="mergeTimeControl">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Bonus Points</mat-label>
            <input matNativeControl [formControl]="bonusPointsControl">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Bonus Comment</mat-label>
            <input matNativeControl [formControl]="bonusCommentControl">
        </mat-form-field>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <div *ngIf="data.mode === 'edit'; then edit else create"></div>
    <ng-template #edit>
        <button mat-flat-button color="primary" (click)="updatePr()">Update</button>
        <button mat-flat-button color="warn" (click)="deletePr()">Delete</button>
        <button mat-flat-button (click)="closeDialog()">Cancel</button>
    </ng-template>
    <ng-template #create>
        <button mat-flat-button color="primary" (click)="createPr()">Submit</button>
        <button mat-flat-button (click)="closeDialog()">Cancel</button>
    </ng-template>
</mat-dialog-actions>