<h2 mat-dialog-title>Edit User: {{data.nickname}}</h2>
<mat-dialog-content (keydown.enter)="submitUser()">
    <div class="flex-form">
        <mat-form-field appearance="fill">
            <mat-label>Username</mat-label>
            <input matNativeControl [formControl]="nicknameControl">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matNativeControl [formControl]="nameControl">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Surname</mat-label>
            <input matNativeControl [formControl]="surnameControl">
        </mat-form-field>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <ng-template *ngIf="data.mode === 'edit';then edit else new"></ng-template>
    <ng-template #edit>
        <button mat-flat-button color="primary" (click)="submitUser()">Update</button>
        <button mat-flat-button color="warn" (click)="deleteUser()">Delete</button>
        <button mat-flat-button (click)="closeDialog()">Cancel</button>
    </ng-template>
    <ng-template #new>
        <button mat-flat-button color="primary" (click)="submitUser()">Create</button>
        <button mat-flat-button (click)="closeDialog()">Cancel</button>
    </ng-template>
    <!-- <button mat-flat-button color="primary" (click)="updatePr()">Update</button> -->
    <!-- <button mat-flat-button color="warn" (click)="deletePr()">Delete</button> -->
    <!-- <button mat-flat-button (click)="closeDialog()">Cancel</button> -->
</mat-dialog-actions>