<mat-drawer-container class="all-wrap">
    <mat-drawer #drawer position="start" mode="side" [opened]="isSidenavOpened">
        <mat-nav-list>
            <a mat-list-item routerLink="/{{link.route}}" *ngFor="let link of links">
                <mat-icon class="icon-spaced">{{link.icon}}</mat-icon>
                {{link.name}}
            </a>
        </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
    <div class="page-wrap">
        <header role="banner">
            <mat-toolbar color="primary">
                <button *ngIf="auth.isAuthenticated$ | async" mat-icon-button (click)="changeSidenav()">
                    <mat-icon>menu</mat-icon>
                </button>
                <span>Hacktoberfest-App</span>
                <span class="spacer"></span>
                <ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">
                    <span *ngIf="auth.user$ | async as user">Hi {{user.name}}</span>
                    <button mat-icon-button (click)="auth.logout({returnTo: document.location.origin})">
                        <mat-icon>logout</mat-icon>
                    </button>
                </ng-container>

                <ng-template #loggedOut>
                    <button mat-button (click)="auth.loginWithRedirect()">Log In</button>
                </ng-template>
                <!-- <button mat-icon-button (click) -->
            </mat-toolbar>
        </header>
        <main class="content" flex>
            <router-outlet></router-outlet>
        </main>
        <footer>
            <mat-toolbar class="footer" color="primary">Footer</mat-toolbar>
        </footer>
    </div>
    </mat-drawer-content>
</mat-drawer-container>