<div class="row">
    <div class="col-9">
        <div class="latest-submissions">
            <h3>Latest Submissions</h3>
            <table>
                <tr>
                    <td><b>PR link</b></td>
                    <td><b>Username</b></td>
                    <td><b>Problem</b></td>
                    <td><b>Bonus Points</b></td>
                    <td><b>Bonus Comment</b></td>
                    <td><b>Merge Time</b></td>
                </tr>
                <tr *ngFor="let pr of pullRequests">
                    <td><a href="https://www.google.com">pr_link</a></td>
                    <td>{{pr.nickname}}</td>
                    <td>{{pr.problemId}}</td>
                    <td>{{pr.bonusPoints}}</td>
                    <td>{{pr.bonusComment}}</td>
                    <td>{{pr.mergeTime}}</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-3">
        <div class="users">
            <h3>Users</h3>
        </div>
    </div>
</div>